@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

hml{
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    position: relative;

}


header img{
    position: absolute;
    align-items: center;
    top: 0%;
    width: 100%;
}

header h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    z-index: 100;
    position: relative;
    top: 180px;
    padding-left: 340px;


}

.navigation-header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgba(146, 158, 133, 0.379);
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 30px;
    position: relative;
    top: 540px;
    
}

body{
    background-color: rgb(55, 55, 56);
} 

.photo-cards{
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: 630px auto;
    justify-content: space-between;
    flex-flow: row nowrap;

}

.photo-card{
    width: 360px;
    position: relative;
    height: 50px;
}

.photo-card img{
    width: 100%;
}

.info-photo p{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.fjellvettregler {
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 158, 133, 0.379);
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 20px;
    padding: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;

}

.fjellvett p {
    font-size: 60px;
    
}

.info-regler{
    align-items: flex-start;
}

.info-regler p {
    color: black;
}

.bunnbilde {
    align-items: center;
    width: 100%;
   
}



footer{
    background-color: rgba(146, 158, 133, 0.379);
    color: aliceblue;
    padding-top: 0.1%;    
    padding-bottom: 0.1%;
    padding-left: 3%;
}

.mountain_guide{
    position:relative;
    padding-left: 40%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 20px;
    color: rgb(25, 49, 21);

}


